.container {
    position: relative;
    font-family: Arial;
    width:1260px;
    margin: 0 auto;
  }
  
  .text-block {
    position: absolute;
    top: 20px;
    left: 500px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }