<html>
    <body>
        <div class="container">
            <img  src="assets/images/planning-poker.png" style="width:100%;">
            <div class="content">
              <h2><b>Welcome to the PointingPoker</b></h2>
            </div>
          </div>
          <div class="container">
            <h3><b>A guide to Agile estimation techniques</b></h3>
            <h4>
              Agile estimation is about evaluating the effort required to complete each work item listed in the prioritized backlog, which, in turn, helps improve sprint planning. 
              Estimates can be hard to grasp. How should a company know the amount of time it will take to complete a product backlog item so far in advance? How can they account 
              for unforeseen impediments that arise? This is where Agile estimation techniques come to the rescue.
               <br>
               <br>
              From Agile project cost estimations to how long it will take to deliver, estimations are part of the daily grind. 
              The project is likely to go off track without accurate estimations in terms of budget and time.
              <br>
              <br>
              If a business does not spend time conducting accurate estimations, their product would get delayed exponentially, which, in turn, can increase the chances of them getting outcompeted.
              <br>
              A rule of thumb for making accurate estimations is to put effort into strategizing around the right Agile estimation techniques rather than making random guesses. 
              Therefore, familiarizing themselves with agile story estimation techniques should be a top priority of a business looking to develop a new product.
            </h4>
            </div>
            <div class="container1" style="margin-left: 5px;">
              <h3> <b>What is Estimation in Agile? </b></h3>
              <h4>
                Agile estimation is the process for estimating the effort required to complete a prioritized task in the product backlog. 
This effort is usually measured with respect to the time it will take to complete that task, which, in turn, leads to accurate sprint planning.
<br>
<br>
What is a Sprint? A sprint is a time-boxed interval that defines the time allocated to complete a task.
Agile teams also make estimations with reference to story points. A story point is used in Agile Development projects to estimate the difficulty of 
implementing a given user story. This is measured in relative units assigned to different user stories that require estimation.
<br>
<br>
In a nutshell, a story point is a number that helps estimate the difficulty of building a user story successfully. 
This difficulty could be anything related to the complexities, risks, and efforts involved.
<br>
Agile project estimation also helps to build strong coordination. If project X is dependent on project Y, 
agile project estimation provides an overview of the wait time.
              </h4>
              <h3> <b>Why Run Agile Estimations? </b></h3>
              <h4>
<b>Agile estimations are essential for:</b>
<br>
Making teams accountable for deliverables
<br>
<br>
	<b>&nbsp;&nbsp;&nbsp;*Inducing discipline across the Agile team
    <br>
    &nbsp;&nbsp;&nbsp;*Predicting the approximate time it will take to finish a project
  <br>
	&nbsp;&nbsp;&nbsp;*Enabling better sprint management
  <br>
	&nbsp;&nbsp;&nbsp;*Improving team productivity</b>
</h4>

            </div>
        
    </body>
</html>

